@media (max-width: 1366px){
    .header{
        background: rgba(0,0,0,.4);
        top: 0;
        padding: 25px 0;
    }
    body{
        font-size: 16px;
        line-height: 22px;
    }
    .top__title{
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 20px;
    }
    .top__inner img{
        width: 80%;
    }
    .top__text{
        margin: 15px 0 25px; 
    }
    .title{
        padding-top: 90px;
    }
    .products__slider-box{
        padding-top: 0;
    }
    .products__slider-text{
        bottom: auto;
        left: auto;
        top: -105px;
        right: 0;
    }
    .benefits{
        .title{
            padding-top: 10px;
        }

    }
    .benefits__item{
        margin-bottom: 80px;
    }
    .specifications__box-2{
        margin-top: 115px;
    }
    .specifications__box-4{
        margin-top: 115px;
    }
    .specifications__item--center{
        text-align: center;
        margin-top: -55px;
        img{
            width: 80%;
            
        }
    }
    .specifications{
        .title{
            padding-top: 40px;
        }
    }
    .questions{
        .title{
            padding-top: 40px;
            margin-bottom: 20px;
        }
    }
    .questions__title{
        line-height: 22px;
        font-size: 18px;
        padding: 16px 10px 16px 30px;
    }
    .questions__text{
        padding: 0 5px 40px 30px;
    }
    .questions__title::after{
        height: 54px;
        width: 60px;
        right: -60px;
    }
}
@media (max-width: 1280px){
    .benefits__item{
        width: 45%;
    }
    .benefits__item:first-child::before{
        width: 40%;
    }
    .benefits__item:nth-child(3)::before{
        width: 35%;
    }
}
@media (max-width: 1160px){
    .specification__box-3::before{
        width: 190px;
        height: 78px;
        left: -230px;
        top: 44px;
    }
}
@media (max-width: 1100px){
    
    .menu{
        order: 1;
    }
    .menu__list{
        position: fixed;
       left: 0;
       top: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(#1C1C1C, .9);
       z-index: -1;
       display: flex;
       padding-top: 90px !important;
       flex-direction: column;
       justify-content: space-around;
       transform: translateY(-1000%);
       transition: transform .5s;
       padding-left: 24px !important;
       overflow: auto;
       &--active{
        transform: translateY(0);
       }
    }
    .menu__list-item{
        margin-bottom: 35px;
        &:first-child{
            margin-top: auto;
        }
    }
    .menu__list-item+.menu__list-item{
        padding-left: 0;
    }
    .menu__list-phone,
    .menu__list-link{
        display: block;
        
    }
    .menu__list-phone{
        padding-top: 33px;
        position: relative;
        margin-bottom: auto;
        margin-top: auto;
        font-size: 16px;
        line-height: 19px;
        &::before{
            content: '';
            position: absolute;
            border-top: 1px solid rgba(#fff, .24);
            top: 0;
            right: 0;
            left: -24px;

        }
    }
    .menu__btn{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        display: block;
    }
    .menu__btn::before,
    .menu__btn::after{
        content: "";
        width: 24px;
        height: 2px;
        background-color: #E0E0E0;
        display: block;
        margin-bottom: 4px;
        transition: transform .3s;
    }
    .menu__btn::after{
        margin-bottom: 0;
        width: 16px;
        margin-left: auto;
    }
    .menu__btn-line{
        background-color: #E0E0E0;
        width: 24px;
        height: 2px;
        display: block;
        margin-bottom: 4px;
        opacity: 1;
        transition: opacity .3s;
    }
    .menu__btn.menu__btn--active{
        .menu__btn-line{
            opacity: 0;
            
        }
        &::after{
            width: 24px;
            transform: translateY(-6px) rotate(-135deg);
        }
        &::before{
            width: 24px;
            transform: translateY(6px) rotate(135deg);
        }

    }
    .header__phone{
        display: none;
    }
    .header__btn{
        margin-right: 0;
    }
    .products__text{
        padding-right: 15px;
    }
    .products__slider-box{
        padding-right: 20px;
    }
    .benefits__item:first-child::before,
    .benefits__item:nth-child(3)::before,
    .benefits__item:nth-child(3)::after{
        display: none;
    }
    .benefits__items{
        display: block;
    }
    .benefits__item{
        width: 100%;
        margin-bottom: 40px;
    }
    .benefits__item:nth-child(even){
        margin-left: 200px;
        transform: translateY(0);
    }
    .benefits__info{
        width: 35%;
    }
    .questions__item:nth-child(3)::before{
        display: none;
    }
}
@media (max-width: 1024px){
    .title{
        padding-top: 50px;
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 35px;
    }
    .products__slider-text{
        font-size: 20px;
        line-height: 22px;
        top: -85px;
    }
    .products__slider{
        margin-left: auto;
    }
    .products{
        padding-bottom: 80px;
    }
    .specification__box-1::before,
    .specification__box-2::before,
    .specification__box-3::before,
    .specification__box-4::before{
        display: none;
    }
}
@media (max-width: 940px){
    .products__inner{
        display: block;
    }
    .products__text{
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 140px;
    }
    .contacts__form{
        width: 100%;
        margin-right: 0;
        order: 1;
    }
    .contacts__inner{
        flex-wrap: wrap;
    }
}
@media (max-width: 877px){
    .specification__box-4,
    .specification__box-2{
        margin-top: 50px;
    }
    .specification__inner{
        padding-left: 0;
    }
}
@media (max-width: 787px){
    .benefits__item:nth-child(even){
        margin-left: 0;
    }
    .benefits__items{
        padding-left: 0;
    }
    .benefits__item:nth-child(3){
        margin-left: 0;
    }
    .benefits__num{
        display: none;
    }
    .specification__inner{
        display: block;
    }
    .specification__box{
        width: 100%;
    }
    .specification__box-4,
    .specification__box-2{
        margin-top: 25px;
    }
    .specification__item--center{
        margin-top: 0;
    }
    .questions__items{
        padding-right: 60px;
    }
    .questions__text{
        padding: 0 15px 40px 30px;
    }
    .contacts__inner{
        padding-left: 2px;
    }
}
@media (max-width: 680px){
    .products__inner{
        padding-left: 0;
    }
    .title{
        padding-left: 0;
        padding-top: 40px;
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .products__text p{
        margin-bottom: 10px;
    }
    .products__slider{
        max-width: 100%;
        &::before{
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
        }
    }
    .products__text{
        margin-bottom: 100px;
    }
    .products__slider-box{
        padding-bottom: 60px;
    }
}
@media (max-width: 540px){
    .top__title{
        display: none;
    }
    .top__text{
        margin: 15px 0 70%;
    }
    .scroll__btn{
        padding: 13px 0;
    }
    .benefits__img{ 
        img{
        display: block;
        margin-left: auto;
        }
    }
}
@media (max-width: 414px){
    .questions__title::after{
        right: 0;
    }
    .questions__items{
        padding-right: 0;
    }
    .questions__title{
        padding: 15px 75px 15px 15px;
    }
    .contacts__form-input{
        width: 100%;
        margin-top: 10px;
    }
    .contacts__form-line{
        display: block;
    }
}
@media (max-width: 400px){
    .contacts__social-list{
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}
@media (max-width: 375px){
    .menu__list-phone{
        padding: 15px 0; 
    }
}
@media (max-width: 340px){
    
}